{% extends 'base.html' %}

{% block body %}
    <div class="book ">
    <ul>
    {% for recipe in recipes %}
        <li>
        <h3 class=" fst-italic"> <a href="//127.0.0.1:8000/recipes/{{ recipe.id }}/" class="no-underline">{{ recipe.name }}</a></h3>
        </li>
        <p class="lead my-3"> {{ recipe.description }}</p>
        <img class="recipe-image" src="/../../{{ recipe.image }}" alt="recipe image">


    {% endfor %}
    </ul>
        <h6 class="fst-italic">Dodano przez: {{ recipe.author.username }}</h6>
        {% if recipe.author.id ==  user.id %}
            <p class="lead fw-normal"><a href="//127.0.0.1:8000/recipes/update/{{ recipe.id }}/"><button class="btn btn-light">Edytuj przepis</button></a><a href="//127.0.0.1:8000/recipes/delete/{{ recipe.id }}/"><button class="btn btn-danger">Usuń przepis</button></a></p>
        {% endif %}
    </div>
{% endblock %}